BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
ColumnLimit: 160
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false